body {
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  position: relative;
  width: 269px;
  height: 93px;
  left: 34%;
}

.search_bar {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
}

.icon_search {
  position: absolute;
  margin: -3% 90%;
  font-size: 20px;
  color: #aaa8a8;
}

#tags {
  display: flex;
}

::-moz-placeholder {
  color: #fffafa;
  font-size: 20px;
  font-weight: bold;
}

:-ms-input-placeholder {
  color: #fffafa;
  font-size: 20px;
  font-weight: bold;
}

::placeholder {
  color: #fffafa;
  font-size: 20px;
  font-weight: bold;
}

.btn_result {
  margin: 20px 12px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
}

.btn_ingredient {
  background-color: #3282F7;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn_appareil {
  background-color: #68D9A4;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn_ustensil {
  background-color: #ED6454;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.close {
  cursor: pointer;
  margin: 0 10px;
}

.container_onglet {
  margin: 67px 0px;
  display: flex;
  align-items: baseline;
}

.ingredient {
  height: 15px;
  background-color: #3282F7;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  margin: 15px;
  width: 50%;
  cursor: pointer;
}

.ingredient:hover {
  width: 550px;
  border: none;
}

.btn_ingredient_li {
  display: none;
}

#menu_ingredient:hover .btn_ingredient_li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-color: #3282F7;
  color: white;
  z-index: 1;
  position: absolute;
  margin: -20px 15px;
  width: 550px;
}

.btn_appareil_li {
  display: none;
}

#menu_appareil:hover .btn_appareil_li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-color: #68D9A4;
  color: white;
  z-index: 1;
  position: absolute;
  margin: -20px 15px;
  width: 550px;
}

.btn_ustensil_li {
  display: none;
}

#menu_ustensil:hover .btn_ustensil_li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-color: #ED6454;
  color: white;
  z-index: 1;
  position: absolute;
  margin: -20px 15px;
  width: 550px;
}

.appareil:hover {
  width: 550px;
}

.ustensil:hover {
  width: 550px;
}

.appareil {
  height: 15px;
  background-color: #68D9A4;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  margin: 15px;
  width: 50%;
}

.ustensil {
  height: 15px;
  background-color: #ED6454;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  margin: 15px;
  width: 50%;
}

.li_tag,
.ingredient_tag,
.appareil_tag,
.ustensil_tag {
  font-size: 20px;
  cursor: pointer;
}

input {
  border: none;
}

.fleche_haut {
  margin: 35px -40px;
  position: absolute;
  color: white;
}

#container_recipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 50px;
  height: 850px;
}

.img_recipe {
  width: 100%;
}

.card_recipe {
  background-color: aliceblue;
  border-radius: 5px;
  height: 490px;
  background: #E7E7E7;
  width: 380px;
}

.info_recipe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liste_ingredient {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 30px 0px;
}

.container_listing {
  list-style-type: none;
  margin: 0px -25px;
}

li {
  font-size: 12px;
  list-style: none;
}

.clock {
  margin-left: 130px;
}

.time {
  font-size: 15px;
}

.listing {
  font-size: 12px;
  display: flex;
}

.ingreds {
  font-weight: bold;
}

.container_consigne {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
}

.consigne {
  font-size: 12px;
  width: 20%;
  margin: 40px;
}/*# sourceMappingURL=style.css.map */